<div class="hero is-fullheight">
  <div class="hero-head">
    <nav class="nav has-shadow">
      <div class="nav-left">
        <a class="nav-item" routerLink="/">
          Demos
        </a>
      </div>
      <div class="nav-right">
        <div class="nav-item">X: {{ rotX }} Y: {{ rotY }}</div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <img src="images/cc.png" class="credit-card">
        </div>
      </div>
    </div>
  </div>
</div>
